@model List<ShopDienThoai.EntityFramework.category>
<div class="dropdown-menu" aria-labelledby="dropdown04">

    @foreach (var item in Model)
    {

        <a class="dropdown-item" href="@Url.RouteUrl("Category",new {slug = item.slug })">@item.name</a>

    }

</div>